<section class="container text-center my-5">
    <div class="error-container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">

                    <h1>Oops!</h1>

                    <h2>4<span></span>4</h2>


                    <div class="error-details">
                        ماشتغلتش معاك ؟؟ طب ما تبارك طيب! هل باركت اليوم؟
                    </div>

                    <div class="error-actions my-4">
                        <a routerLink="/login" class="btn">
مشوني كدا حاسب كدا 
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>